*{
padding: 0;
margin: 0;
}

body{
    background-color: #000 !important;
}

.section-team{
    padding: 30px 0;

    -webkit-box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 25px 0px rgba(255,255,255,1);

    background: -webkit-linear-gradient(90deg, rgba(67, 7, 177, 0.493) 10%, #bdc3002a 90%);
    background: -moz-linear-gradient(90deg, rgba(67, 7, 177, 0.493) 10%, #bdc3002a 90%);
    background: -ms-linear-gradient(90deg, rgba(67, 7, 177, 0.493) 10%, #bdc3002a 90%);
    background: -o-linear-gradient(90deg, rgba(67, 7, 177, 0.493) 10%, #bdc3002a 90%);
    background: linear-gradient(90deg, rgba(67, 7, 177, 0.493) 10%, #bdc3002a 90%);
}
.section-team h3{
    color: #fff;
    margin-bottom: 20px;
}

/* -webkit-box-shadow: 0px 4px 31px 3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 4px 31px 3px rgba(255,255,255,1);
    box-shadow: 0px 4px 31px 3px rgba(255,255,255,1); */