<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
   <footer>
<div class="container-footer-all">

<div class="container-body">
<div class="colum1">
  <h1>Mas informacion de la compañia</h1>
        <p>Este sitio se dedica a la venta de equipo gamer, desde los articulos mas utilizados, 
        hasta informacion y noticias mas reelevantes del tema.</p>
</div>

<div class="colum2">
<h1>Redes Sociales</h1>

<div class="row">
    <img src="https://img.icons8.com/color/48/000000/facebook-circled--v5.png"/>
    <label>Siguenos en facebook</label>
</div>

<div class="row">
    <img src="https://img.icons8.com/color/48/000000/twitter-circled--v1.png"/>
    <label>Siguenos en twitter</label>
</div>

<div class="row">
    <img src="https://img.icons8.com/plasticine/100/000000/instagram-new--v2.png"/>
    <label>Siguenos en instagram</label>
</div>

<div class="row">
    <img src="https://img.icons8.com/color/48/000000/tiktok--v2.png"/>
    <label>Siguenos en tiktok</label>
</div>

</div>

<div class="colum3">
<h1>Informacion de contacto</h1>

<div class="row2">
<img src="https://img.icons8.com/doodle/48/000000/google-maps-new.png"/>
    <label>Colombia, santa marta,
           calle 17A # 12A - 51
    </label>
</div>

<div class="row2">
    <img src="https://img.icons8.com/ultraviolet/40/000000/phone-office.png"/>
    <label>+57-301-599-9999</label>
</div>

<div class="row2">
    <img src="https://img.icons8.com/color/48/000000/important-mail.png"/>
    <label>kinGamer@sitioweb.com</label>
</div>



</div>

</div>

</div>
<div class="container-foter">
    <div class="footer">
    <div class="copyright">
        © 2021 Todos los derechos reservados <a href="">kinGamer</a>
    </div>

    <div class="information">
    <a href="">Informacion compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
    </div>
</div>
</div>

   </footer>
</body>
</html>