<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


</head>
<body>

    <header class="header">
        <nav class="nav">
                <ul class="nav__menu">
                    <li>
                        <a href="#"><i class="fas fa-home"></i>Inicio</a>
                    </li>
                    <li>
                      <a href="registro.html"><i class="fas fa-book-open"></i>Registro</a>
                  </li>
                  <li>
                      <a href="news.html"><i class="fas fa-download"></i>Noticias</a>
                  </li>
                  <li>
                      <a href="#"><i class="fas fa-wrench"></i>Servicios</a>
                  </li>
                  <li>
                      <a href="#"><i class="fas fa-phone-alt"></i>Contáctanos</a>
                  </li>
                  <li>
                      <a href="#"><i class="fas fa-store"></i>Tienda Online</a>
                  </li>
               </ul>
              <img src="../css/KingGamerLogo.png" alt="" class="logo">
              <hr>
        </nav>
        <div class="fondo"></div>
        <div class="text">
            <h1>King Gamer</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis officia culpa asperiores, minima tempore tempora suscipit? Accusantium dicta praesentium doloremque odit ratione, impedit aspernatur, nulla ea at similique, voluptatum debitis aperiam maiores illum fugit suscipit libero? Adipisci nostrum error odio quia, eligendi quasi quod, maxime dolorum, facilis recusandae id. </p>
            <button class="boton">Comprar</button>
        </div>
    </header>








    <footer></footer>
</body>
</html>