<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint1UTP</title>
    <h1>The Jabalí News</h1>
    <link rel="stylesheet" href="/css/news.css">
</head>
<body>
    <!-- Juank -->
    <div class= "container">
        <nav class= "nav-main">
            <img src= "img/logo2.jpeg" alt= "News LOGO" class= "nav-brand">
            <ul>
                <h3>Neckzilla es colombiano</h3>
                <li>
                    <a href="#">Amplia la noticia</a>
                </li>
                <h3>Importancia del idioma Ingles</h3>
                <li>
                    <a href="#">Amplia la noticia</a>
                </li>
                <h3>Tips de Musculacion</h3>
                <li>
                    <a href="#">Amplia la noticia</a>
                </li>
                <h3>Mision TIC en la UTP</h3>
                <li>
                    <a href="#">Amplia la noticia</a>
                </li>
            </ul>           
        </nav>
    </div>
    
</body>
</html>