<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/services.css">
</head>
<body>
    <div class="products-container">

        <div class="product-item">
            <div class="img-container">
                <img src="../img/pc.jpg" alt="img-product.png"/>
            </div>
            <p>
                lorem 1 b random  lorem 1 b random  lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random 
            </p>
            <a>
                <button class="btn-buy" >Ir a comprar</button>
            </a>
            <button class="btn-details" >Ver detalles</button>
        </div>

        <div class="product-item">
            <div class="img-container">
                <img src="" alt="img-product.png"/>
            </div>
            <p>
                lorem 1 b random  lorem 1 b random  lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random 
            </p>
            <a>
                <button class="btn-buy" >Ir a comprar</button>
            </a>
            <button class="btn-details" >Ver detalles</button>
        </div>

        <div class="product-item">
            <div class="img-container">
                <img src="" alt="img-product.png"/>
            </div>
            <p>
                lorem 1 b random  lorem 1 b random  lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random 
            </p>
            <a>
                <button class="btn-buy" >Ir a comprar</button>
            </a>
            <button class="btn-details" >Ver detalles</button>
        </div>

        <div class="product-item">
            <div class="img-container">
                <img src="" alt="img-product.png"/>
            </div>
            <p>
                lorem 1 b random  lorem 1 b random  lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random 
            </p>
            <a>
                <button class="btn-buy" >Ir a comprar</button>
            </a>
            <button class="btn-details" >Ver detalles</button>
        </div>

        <div class="product-item">
            <div class="img-container">
                <img src="" alt="img-product.png"/>
            </div>
            <p>
                lorem 1 b random  lorem 1 b random  lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random 
            </p>
            <a>
                <button class="btn-buy" >Ir a comprar</button>
            </a>
            <button class="btn-details" >Ver detalles</button>
        </div>

        <div class="product-item">
            <div class="img-container">
                <img src="" alt="img-product.png"/>
            </div>
            <p>
                lorem 1 b random  lorem 1 b random  lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random 
            </p>
            <a>
                <button class="btn-buy" >Ir a comprar</button>
            </a>
            <button class="btn-details" >Ver detalles</button>
        </div>


        <div class="product-item">
            <div class="img-container">
                <img src="" alt="img-product.png"/>
            </div>
            <p>
                lorem 1 b random  lorem 1 b random  lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random 
            </p>
            <a>
                <button class="btn-buy" >Ir a comprar</button>
            </a>
            <button class="btn-details" >Ver detalles</button>
        </div>


        <div class="product-item">
            <div class="img-container">
                <img src="" alt="img-product.png"/>
            </div>
            <p>
                lorem 1 b random  lorem 1 b random  lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random 
            </p>
            <a>
                <button class="btn-buy" >Ir a comprar</button>
            </a>
            <button class="btn-details" >Ver detalles</button>
        </div>


        <div class="product-item">
            <div class="img-container">
                <img src="" alt="img-product.png"/>
            </div>
            <p>
                lorem 1 b random  lorem 1 b random  lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random 
            </p>
            <a>
                <button class="btn-buy" >Ir a comprar</button>
            </a>
            <button class="btn-details" >Ver detalles</button>
        </div>

        <div class="product-item">
            <div class="img-container">
                <img  src="" alt="img-product.png"/>
            </div>
            <p>
                lorem 1 b random  lorem 1 b random  lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random lorem 1 b random 
            </p>
            <a>
                <button class="btn-buy" >Ir a comprar</button>
            </a>
            <a>
                <button class="btn-details" >Ver detalles</button>
            </a>

        </div>
        
    </div>
    <!-- Emerson -->
</body>
</html>