<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/team.css" />
  </head>
  <body>
    <!-- Carlitos -->
    <div>Carlos prueba</div>

    <div>
      <h3>CARLITOS</h3>
      <figure>
        <img src="" alt="" />
      </figure>
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti cum
          officia minima ipsa? Voluptatum praesentium quod adipisci non.
          Voluptatum doloribus veniam unde voluptatibus dolor inventore
          sapiente. Quidem necessitatibus voluptas cupiditate.
        </p>
      </div>
    </div>
  </body>
</html>
